# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
glide.lock
tmp/*

.idea/*
out/*
bin/*
gobin/*
# Folders
vendor
_obj
_test
.idea
# Architecture specific extensions/prefixes

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go
*.coverprofile
*.exe
*.test
.DS_STORE
.DS_Store

# vim
*.swpv
