[Unit]
Description=ubiquity Service
Documentation=https://github.com/IBM/ubiquity
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ubiquity \
          --config /etc/ubiquity/ubiquity-server.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target
